#btn1{-fx-background-image: url("file:images/send.jpg");}
#label4{-fx-font-weight: bold;}

.root {
    -fx-background-image: url("file:images/textArea_background.jpg");
    -fx-background-size: 100% 100%;
}

.text-area {
    -fx-background-color: #aadee0;
    -fx-background-radius: 15 15 15 0;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
}

.split-pane {-fx-background-color: transparent;}
.split-pane .viewport{-fx-background-color: transparent;}
.split-pane .content{-fx-background-color: transparent;}

#listView .list-cell:even {-fx-background-color: transparent;}
#listView .list-cell:odd {-fx-background-color: transparent;}
#listView {-fx-background-color: transparent;}
.split-pane-divider {
  -fx-padding: 0;
}

.text-field {
    //-fx-background-color: white;
}